<!-- index.html -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <!--respect mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>mini-Youtube</title>
    
	<!--Carousel-->
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   	<link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css">

    
	<script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.0.0/jquery-migrate.min.js" ></script> 

		
		
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<!--Carousel-->
	<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
	<script src="https://unpkg.com/react@15.3.2/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.js"></script>
    <script src="https://unpkg.com/babel-core@5.8.38/browser.min.js"></script>
    <script src="https://unpkg.com/remarkable@1.6.2/dist/remarkable.min.js"></script>
    <script src="/javascripts/bounce.min.js"></script>
    <script src="/javascripts/loginForm.js"></script>
  </head>
  <body>
  	
  	<div class="navigation navbar navbar-fixed-top">
		<div class="container general-container">
			<div id="logo">
				<a href="https://mini-youtube.herokuapp.com/">
					<h4 id="mini">mini-</h4>
					<h3>
						<span id="you">You</span>
						<span id="tube" class="logo-red">Tube</span>
					</h3>
				</a>
			</div>
			<div id="searchBar">
				<form>
					<input id="search-input" type="text" placeholder="Search under construction :)">
					<button class="btn btn-primary"><img src="/images/search-glass.png"></button>
				</form>
			</div>
			<div id="authentication">
				<% if(!currentUser){ %>
					<div id="logged-out-auth">
						<a class="header-link" href="/auth/register">Register</a>
						<div class="header-trigger login-form-trigger"><a id="login" class="header-link" href="#">Login</a></div>
					</div>
					<div class="login-form">
						<form action="/auth/login" method="POST">
							<h3>Come on in!</h3>
							<label for="username">Username</label>
							<input type="text" id="username" name="username" />
							<label id="second-child" for="password">Password</label>
							<input type="password" id="password" name="password" />
							<button type="submit" class="btn btn-primary">Login</button>
							<button type="button" id="cancel-btn" class="btn btn-danger">Cancel</button>
						</form>
					</div>
				<% } else { %>
					<div id="logged-in-auth">
						<button id="upload" href="/user/upload">
							<span id="upload-image"><img src="/images/upload.png"></span>
							<span id="upload-text">Upload</span>
						</button>
						<div id="channel-tab">
							<img src="<%=currentUser.profile_image%>" alt="#"></img>
						</div>
						<ul id="user-menu">
							<li><a href="/user/<%=currentUser.username%>">Profile</a></li>
							<li><a href="/account/<%=currentUser.username%>">Account</a></li>
							<li><a href="#">My Videos</a></li>
							<li><a href="#">Subcriptions</a></li>
							<li><a id="logout" href="/auth/logout">Logout</a></li>
						</ul>
					</div>
				<% } %> 
			</div>
		 
		</div>
	</div>
	
	<div class="all-page-container">
		
		<% if(typeof errorMsg !== "undefined"){ %> 
			<p id="server-error" class="notification"><%=errorMsg%></p>
		<% } else if (typeof successMsg !== "undefined"){%>
			<p id="server-success" class="notification"><%=successMsg%></p>
		<% } %>
		<p id="error" class="notification"></p>